header {
    background-color:cadetblue;
}

.main aside {
    background-color:#ac2925;
    color:white;
}

.color1 {
    background-color:#2b542c;
    color:white;
}

footer {
    background-color:cadetblue;
}